<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project3 - Bayarea Housing Price Prediction</title>
 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">

</head>

<body>
    <!-- <div id="test">
        <h1>Bayarea Housing Price</h1>
    </div> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#" id="maintitle">Ninja Consultants</a>
              </div>
              <ul class="nav navbar-nav">
                
              </ul>
            </div>
          </nav>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="blank"></div>
        </div>
    </div> -->
    <!-- <br> -->
    <!-- <div class="withcontainer-fluid"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-md-12"> -->
                <div class="jumbotron jumbotron-billboard" style = "height:300px">
                    <div class="img"></div>
                      
                                
               </div>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
    <div class="container-fluid">
        <div class="row" id="introduction">
            <div class="col-md-8">
            <h3 style = "color: darkred">Bay Area Housing Market Outlook</h3>
                <p id ="introtext" style = "font-size: 19px">
                The american dream of owning a home continues to be a dream for many living  in the bay area. Despite the record low interest rates,  only 24% of people can afford to buy a median priced home. We set out to find why? Contrary to the conventional intutuion that the the supply (housing production) is not keeping up with demand demand (population growth), we found that astonomical rise in median home price in the past decade is largely fuelled by rise in high wage jobs. Based on the observed trends in households, jobs and wages, we developed a model to predict the median home prices for the nine counties - Alameda, Contra Costa, Marin, Napa, San Francisco, San Mateo, Santa Clara, Solano and Sonama - that make up the Bay Area. 
                </p>
               
            </div>
            <div class="col-md-4">
                <!-- <h3>INTERESTING INFO</h3> -->
                <div id="image-head" class="image-head" style = "height:370px">
                    <div class="centering-hack">
                        <!-- <img src="../static/images/carousel/titleimage3.jpg" width="100%" height="250px"> -->
                    </div>
                </div>
            </div>
            </div>
        </div>
        <br>
        <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong><div class="panel-title">
                                <h3> Past Trends (1995 - 2015)</h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                                    
                                    <div class="row">
                                            <div class='tableauPlaceholder' id='viz1532544262476' style='position: relative'>
                                                    <noscript><a href='#'><img alt='PastTrends ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BayAreaHousingHistoricalData&#47;PastTrends&#47;1_rss.png' style='border: none' /></a></noscript>
                                                    <object class='tableauViz'  style='display:none;'>
                                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                                                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                                                        <param name='name' value='BayAreaHousingHistoricalData&#47;PastTrends' />
                                                        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                                                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BayAreaHousingHistoricalData&#47;PastTrends&#47;1.png' /> 
                                                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                                                        <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                                                        <param name='display_count' value='yes' /><param name='filter' value='publish=yes' />
                                                    </object></div>                
                                                    <script type='text/javascript'>                    
                                                    var divElement = document.getElementById('viz1532544262476');                    
                                                    var vizElement = divElement.getElementsByTagName('object')[0];                    
                                                    vizElement.style.width='900px';vizElement.style.height='727px';                   
                                                     var scriptElement = document.createElement('script');                    
                                                     scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                                                     vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                                                     </script>

                                    </div>
                            </div>


                    </div>
                
               <!--  <div class='tableauPlaceholder' id='viz1532399192248' style='position: relative'>
                    <noscript><a href='#'><img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BayAreaHousingHistoricalData&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' />
                        <param name='name' value='BayAreaHousingHistoricalData&#47;Dashboard2' />
                        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BayAreaHousingHistoricalData&#47;Dashboard2&#47;1.png' /> 
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' />
                    </object></div>            
                        <script type='text/javascript'>   
                                         var divElement = document.getElementById('viz1532399192248');  
                                          var vizElement = divElement.getElementsByTagName('object')[0];   
                                          
                                        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';          
                                        var scriptElement = document.createElement('script');                
                                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';  
                                        vizElement.parentNode.insertBefore(scriptElement, vizElement);               
                         </script> -->
                
            </div>
            <div class="col-md-6">
                       
                                             <div class="panel panel-default">
                                                  <div class="panel-heading">
                                                      <strong><div class="panel-title">
                                                      <h3> A Peek into the Future (2020 -2040)</h3>

                                                      
                                                      </div></strong>
                                                      <p style = "font-size: 16px"> What if the wages continue to rise at their current rate and the mortgage rate (30 year fixed) holds steady at 4.46 % ...Can you afford to buy a median price home in the future? Find out here!</p>
                                                  </div>
                                          
                                                  <div class="panel-body">
                                                    
                                                    <div class="row">
                                                            <div class="col-md-12">
                                                                   <!--  <select onchange="updatePlot(this.value)">
                                                                        <option value="Select Area">Select Area</option>
                                                                        <option value="Bay Area">Bay Area</option>
                                                                        <option value="Alameda">Alameda</option>
                                                                        <option value="Contra Costa">Contra Costa</option>
                                                                        <option value="Marin">Marin</option>
                                                                        <option value="Napa">Napa</option>
                                                                        <option value="San Francisco">San Francisco</option>
                                                                        <option value="Santa Clara">Santa Clara</option>
                                                                        <option value="San Mateo">San Mateo</option>
                                                                        <option value="Solano">Solano</option>
                                                                        <option value="Sonoma">Sonoma</option>
                                                                    </select> -->
                                                                    <div id="plotlyPlot" style = "height:400px"></div>
                                                            </div>
                                                    </div>
                                                    <div class = "row" id="predictionDescription">
                                                                   
                                                    </div>


                                                    <div class = "row" style = "margin-left: 20px;">
                                                              <select onchange="updatePlot(this.value)">
                                                                    <option value="Select Area">Select Area</option>
                                                                    <option value="Bay Area">Bay Area</option>
                                                                    <option value="Alameda">Alameda</option>
                                                                    <option value="Contra Costa">Contra Costa</option>
                                                                    <option value="Marin">Marin</option>
                                                                    <option value="Napa">Napa</option>
                                                                    <option value="San Francisco">San Francisco</option>
                                                                    <option value="Santa Clara">Santa Clara</option>
                                                                    <option value="San Mateo">San Mateo</option>
                                                                    <option value="Solano">Solano</option>
                                                                    <option value="Sonoma">Sonoma</option>
                                                                </select>
                                                                <button id="viewAffordability" type="submit reset">View Affodability</button>
                                                                <!-- <button id="viewAffordability" type="submit reset">View Affodability</button> -->
                                                                <!-- <p id="predictionStr"></p> -->
                                                    </div>
                                                    <hr>
                                                    <div class="container-fluid">
                                                            <div class="col-md-12">
                                                                 <div class = "row" style = "margin-left: 20px;">
                                                                        
                                                                    <div id="table">
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                    </div>
                                                </div>

             </div>
                                              
             </div>  
              
             </div>
                                      
        
    </div>
    </div>
    <br>





<script type="text/javascript" src="../static/js/app12.js"></script> 

<script type="text/javascript" src="../static/js/plotlyplot.js"></script> 

</body>

</html>

