<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project3 - Bayarea Housing Price Prediction</title>
 
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 

  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">

</head>

<body>
    <!-- <div id="test">
        <h1>Bayarea Housing Price</h1>
    </div> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#" id="maintitle">Bayarea Housing Price Prediction</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
              </ul>
            </div>
          </nav>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="blank"></div>
        </div>
    </div> -->
    <br>
    <!-- <div class="withcontainer-fluid"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-md-12"> -->
                <div class="jumbotron jumbotron-billboard">
                    <div class="img"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                <h2>Jumbotron</h2>
                                    <p>
                                        Lorem ipsum is the best
                                    </p>
                                    <a href="#" class="btn btn-success btn-lg">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h3>Bayarea Housing Price Time-Line</h3>
                <iframe src="../static/images/Dashboard1.png" width="900" height="500"></iframe>
            </div>
            <div class="col-md-4">
                <h3>INTERESTING INFO</h3>
                <div id="image-head" class="image-head">
                    <div class="centering-hack">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <select onchange="updatePlot(this.value)">
                    <option value="Select Area">Select Area</option>
                    <option value="Bayarea">Bayarea</option>
                    <option value="Alameda">Alameda</option>
                    <option value="Contra Costa">Contra Costa</option>
                    <option value="Marin">Marin</option>
                    <option value="Napa">Napa</option>
                    <option value="San Francisco">San Francisco</option>
                    <option value="San Mateo">San Mateo</option>
                    <option value="Solano">Solano</option>
                    <option value="Sonoma">Sonoma</option>
                </select>
            </div>
            <div class="col-md-4">
                <h2> Prediction</h2>
                <hr>
                <select>
                    <option value="Select Year">Select Year</option>
                    <option value="2020">2020</option>
                    <option value="2025">2025</option>
                    <option value="2030">2030</option>
                    <option value="2035">2035</option>
                    <option value="2040">2040</option>
                </select>
                <button id="predictionButton" type="submit reset">Get Prediction</button>
                <div id="employeecoeff"></div>
                <div id="householdcoeff"></div>
                <div id="wageemployeecoeff"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" id="historicalplot"></div>
        </div>
    </div>



<script type="text/javascript" src="../static/js/app.js"></script> 
</body>

</html>

