/****** TEST ******/
#test {
    color: blueviolet;
}

/****** Webpage ******/
#heading {
    background-color: black;
    color: white;
}

/* #jumbo {
    background-image: url("../images/titleimage6.jpeg");
    background-size: 850px 300px;
    background-color:whitesmoke;
    background-size: cover;
    height: 500px;
    opacity: 0.3;
    color:black;
}

#jumbotronText {
    color:black;
    opacity: 1;
} */

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.4;
    color: #fff;
    background: #000 url("../images/titleimage6.jpeg");
    width: 100%;
    height: 100%;
    background-size: 850px 300px;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  height: 500px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}



#blank {
    background-color: black;
    height: 25px;
}

#yearbutton {
    float: right;
}
    
.image-head {
    background-image:url(http://placehold.it/1920x1080);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 250px;
    width: 80%;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    /* z-index: 1; */
  }

  #maintitle {
      color: white;
      background-color: black;
  }